$primary: #e8a649;
$secondary: #d8c5aa;
$info: #fadcd5;
$error: #d32752;
$background: #ffffff;

$base-width: 300px;

.playground-blog {
  background-color: $background;
  text-align: justify;

  .active {
    font-weight: bold;
    text-decoration: underline;
  }
  .navbar {
    background: url("../assets/images/banner.png") no-repeat;
    background-size: cover;

    .dropdown {
      position: relative;
      display: inline-block;

      .dropbtn {
        border: none;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        & a {
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: $info;
          }
        }
      }

      &:hover .dropdown-content{
        display: block;
      }
      
      &:hover  .dropbtn{
        text-decoration: underline;
        font-weight: bold;
      }
    }

  }

  .card {
    background-color: $background;
    box-shadow: none;
    border: none;
    .card-visual {
      border-bottom: 2px solid black;
      width: 300px;
      height: 300px;
    }
  }

  input {
    border: none;
  }

  .overlay-header::before {
    letter-spacing: 0.4em;
    opacity: 0.05;
    font-size: 30px;
    position: relative;
    top: 70px;
    text-align: center;
  }

  .recommended-header::before {
    content: "POPULAR";
  }

  .games-header::before {
    content: "FUN GAMES";
  }

  .articles-header::before {
    content: "LATEST NEWS";
  }

  .articles-header {
    .card {
      position: relative;
      &-visual {
        border: none;
      }
      &-body {
        position: absolute;
        top: 60%;
      }
    }
  }

  .gallery-section {
    .card-container > .card-visual {
      position: relative;
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }

  .slider-section img {
    filter: brightness(50%);
  }

  hr {
    border: 1px solid #c5a074;
  }

}

@import "../devcss/";
